/* ====== IMPORTAÇÃO DA FONTE ====== */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;700&display=swap');

/* ====== CONFIGURAÇÕES GERAIS ====== */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', Arial, sans-serif; /* fonte importada aplicada */
}

html, body {
    height: 100%;
}

/* ====== FUNDO DA PÁGINA ====== */
body {
    display: flex;
    justify-content: center;
    align-items: center;
    background: url('fundo.jpg') no-repeat center center fixed;
    background-size: cover;
}

/* ====== CARD CENTRAL ====== */
.card {
    background: rgba(255, 255, 255, 0.95); /* transparente para ver o fundo */
    padding: 40px;
    border-radius: 12px;
    box-shadow: 0 8px 20px rgba(0,0,0,0.3);
    width: 350px;
    max-width: 90%;
    text-align: center;
}

/* ====== FORMULÁRIO ====== */
.form-group {
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
    text-align: left;
}

label {
    margin-bottom: 5px;
    font-weight: 500; /* usando peso médio da Poppins */
}

input {
    height: 40px;
    padding: 10px;
    border-radius: 6px;
    border: 1px solid #ccc;
    outline: none;
    font-size: 14px;
    font-family: 'Poppins', Arial, sans-serif;
    transition: 0.2s;
}

input:focus {
    border-color: #6666ff;
}

/* ====== BOTÃO ====== */
button {
    width: 100%;
    height: 45px;
    background-color: #3838bb;
    color: white;
    border: none;
    border-radius: 6px;
    font-weight: 700; /* usando negrito da Poppins */
    font-family: 'Poppins', Arial, sans-serif;
    cursor: pointer;
    transition: 0.2s;
}

button:hover {
    background-color: #2929af;
}
.btns-cadastro{
    display: flex;
    justify-content: center;
    gap: 15px; /* Espaçamento entre os botões sociais */
    margin-bottom: 25px;
    margin-top: 20px;
}
.btn-google, .btn-facebook{
    width: 50px;
    height: 50px;
    border-radius: 50%; /* Deixa o botão redondo */
    border: 1px solid #ccc;
    cursor: pointer;
    background-color: transparent;
    background-position: center;
    background-repeat: no-repeat;
    background-size: 60%; /* Ajusta o tamanho da imagem interna */
    transition: transform 0.2s;
    margin-top: 2%;
}
.btn-google{
    background-image: url(fotos/icone-do-logo-do-google-definir-o-icone-do-google-pesquisando-icones-vetoriais_981536-453.avif);
}
.btn-facebook{
    background-image: url(fotos/vetor-do-logotipo-do-facebook-vetor-do-logotipo-oficial-do-facebook-ilustrador-do-logotipo-do-facebook_1002350-1803.avif);
}
.logo {
    width: 100%;
    display: flex;
    justify-content: center;
    margin-bottom: 2px; /* Espaçamento abaixo da logo */
}
.logo img{
    max-width: 1000px; /* Ajuste o tamanho da logo */
    height: 100px;
}


/* ====== pagin de Lgoin =======*/
